<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/footer.css">
    
</head>
<body>
    <div class="footerContainer">
        <div class="subscribeForm">
            <div class="formTitle">Subscribe Form</div>
            <form action="">
                <input type="email" name="email" id="email" placeholder="Email Address" required>
                <br />
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
        <div class="socialMedia">
            <div class="socialItem">
                <a href="#fb"><i class="fa fa-facebook-f"></i></a>
            </div>
            <div class="socialItem">
                <a href="#twitter"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="socialItem">
                <a href="#in"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="copyright">
        </div>
    </div>

    <script src="js/footer.js"></script>
</body>
</html>